
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(to right,#403A3E,#BE5869);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


